asgiref==3.2.10
Django==3.1.2
django-crispy-forms==1.9.2
django-leaflet==0.27.1
django-pwa==1.0.10
postgres==3.0.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
pytz==2020.1
sqlparse==0.4.1
uWSGI==2.0.19.1
wget==3.2
whitenoise==5.2.0
